{% extends 'base.html' %} 
{% block content %}
  <div class="container h-100">
  <div class="container">

    <div class="row">
      <div class="col-12 my-5 jumbotron bg-white">
        <h1 class="mt-2">How to choose to best laptop for YOU</h1>
        <hr/>
        <img class="img-fluid" width="800" height="600" src="https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Laptops image" />
        <hr />
        <p>Whether you’re buying your first laptop, or simply replacing your old one, this guide is here to help you pick the right model for you.</p>
        <p><a href="#" class="btn btn-black rounded-0">Read more</a></p>
      </div>
      </div>

    <div class="row">
      <div class="col-12 my-5 jumbotron bg-white">
        <h1 class="mt-2">How to setup the BEST electronic work environment</h1>
        <hr/>
        <img class="img-fluid" width="800" height="600" src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Styled-environment image" />
        <hr />
        <p>There are a variety of factors that can influence your productivity. But, nothing is more impactful than your actual work environment. 
        After all, it can affect your decision making, mood, and even your physical health.</p>
        <p><a href="#" class="btn btn-black rounded-0">Read more</a></p>
      </div>
      </div>

    </div>
    </div>
{% endblock %}