@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");

.form-control,
#sort-selector {
    font-size: 1.4rem;
}

.text-line-height {
    line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: url("/media/home-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 16.4rem);
  color: #000;
  font-family: "Lora", sans-serif;
  font-weight: 400;
}

/* typography */
p,
.p,
a {
  font-size: 1.6rem;
}


.h1,
h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.h2,
h2 {
  font-size: 3rem;
}

h3,
.h3 {
    font-size: 2.5rem;
}

h4,
.h4 {
    font-size: 2rem;
}

.text-size {
    font-size: 1.4rem;
}

h5,
.h5 {
    font-size: 1.2rem;
}

h6,
.h6 {
    font-size: 1rem;
}

#banner-text {
    font-size: 1rem;
}

.text-black {
  color: #000 !important;
}

.text-underline {
  text-decoration: underline;
}

/* background colors */

.bg-grey,
.bg-container,
.bg-navbar,
.bg-card-footer,
#topnav {
  background: #eeeeee;
}

#container-product-detail {
  background: #fff;
}

.bg-black {
  background: #000 !important;
}

.bg-white {
  background: #fff !important;
}

.btn-size {
   font-size: 1.6rem;
}

/* from Bulma */

.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
}

.main-logo-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* buttons */

.shop-now-button {
  background: #000;
  color: #fff;
  width: 50%;
}

.btn-black {
  background: #000;
  color: #fff;
  font-size: 1.4rem;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #555;
  color: #fff;
  border: 0.1rem solid #000;
}

.buy-now-button {
  width: -webkit-fill-available;
  float: left;
}

.update-link,
.remove-item {
  cursor: pointer;
}

.btn.btn-outline-black.rounded-0,
.btn.btn-black.rounded-0 {
  padding: 0.375rem 0.375rem;
}

.btn.btn-outline-black.rounded-0.btn-lg,
.btn.btn-black.rounded-0.btn-lg {
  padding: 0.375rem 0.375rem;
  font-size: 0.75rem;
}

.increment-qty,
.decrement-qty {
  padding: 0.25rem 0.5rem !important;
}

.border-black {
  border: 0.1rem solid #000 !important;
}

/* hover */

.card:hover {
  -webkit-box-shadow: 0 0.44rem 0.88rem 0.31rem rgba(250, 250, 250, 0.945);
  box-shadow: 0 0.44rem 0.88rem 0.31rem rgba(250, 250, 250, 0.945);
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-scale:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* bootstrap toasts */

.message-container {
  position: fixed;
  top: 7.2rem;
  right: 1.5rem;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 0.2rem;
}

/* shopping bag */
.bag-notification-wrapper {
  height: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Fixed icon bar - vertically aligned 50% from the top */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* sidebar icons links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 1.6rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 1.6rem;
}

/* social media - sidebar icons colors */
.icon-bar {
  color: #fff;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}

.google {
  background: #dd4b39;
}

.linkedin {
  background: #007bb5;
}

.youtube {
  background: #bb0000;
}

/* icons */

/*
.icon-size {
    font-size: 3rem;
}
*/

.socialmedia-icon {
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

.fa,
.fab {
    font-size: 2rem;
}

.fa-truck,
.fa-lg {
    font-size: 1.5rem;
}

.close-icon {
    font-size: 2.5rem;
}

/* Allauth forms */

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d;
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 0.1rem solid #000;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8;
}

.display-4.logo-font.text-black {
  font-size: 2rem;
}

/* navbar */
.nav-link {
  padding: 0.15rem;
}

.nav-link i.fa-lg {
  font-size: 1rem;
}

.navbar-toggler {
  padding: 0.6rem 0.6rem;
  font-size: 1rem;
}

#delivery-banner h4 {
  font-size: 0.9rem;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.list-inline {
  padding-left: 0;
  margin-left: -0.5rem;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0 1rem;
}

/* Media Queries */

/* Slightly larger container on xl screens */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}


@media (max-width: 991px) {
  .jumbotron-mobile {
    width: 75% !important;
  }
}


/* navbar - media queries  */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 16.4rem;
  }
}

@media (max-width: 991px) {
  .header-container {
    padding-top: 11.6rem;
  }

/* body - media queries  */
  body {
    height: calc(100vh - 11.6rem);
  }
}
