	<footer class="mt-5 w-100" id="bg-footer">
		<div class="container">
			<div class="row pt-5">
				<div class="col-sm-12 col-md-4 text-left h5">
                <p><a href="{% url 'about' %}" class="text-black">About</a></p>
                <p><a href="{% url 'blog' %}" class="text-black">Blog</a></p>
                <p><a href="{% url 'contact' %}" class="text-black">Contact</a></p>
				</div>
				<div class="col-sm-12 col-md-4 text-center"> 
                <h5><strong>Accepted payments</strong> </h5>
					<ul class="list-inline text-center">
                        <li class="icon-card"><i class="fa fa-cc-stripe"></i></li>
                        <li class="icon-card"><i class="fa fa-cc-visa"></i></li>
                        <li class="icon-card"><i class="fa fa-cc-mastercard"></i></li>
					</ul>
				</div>
                <div class="col-sm-12 col-md-4"> 
              <ul class="list-inline float-right text-black">
                <p><strong><u>Customer service</u></strong></p>
                <p >Mon-Sun 8.00-18.00</p>
                <p >Tel: 123 456</p>
                <p><a href="{% url 'contact' %}" class="text-black">Email: electronic.demands@hotmail.com</a></p>
               </ul>
                </div>
			</div>
		</div>
        <div class="row">
		<div class="col-sm-12 text-muted text-center pb-3">
			<div><h6>Copyright © Electronic Demands 2020. All rights reserved.</h6></div>
        </div>
        </div>
	</footer>