<footer class="bg-grey mt-5 w-100">
  <div class="container">
    <div class="row pt-5">
      <div class="col-sm-12 col-md-4 text-center">
        <p><a class="text-black" href="{% url 'about' %}">About</a></p>
        <p><a class="text-black" href="{% url 'blog' %}">Blog</a></p>
        <p><a class="text-black" href="{% url 'contact' %}">Contact</a></p>
      </div>
      <hr class="d-block d-md-none py-2 mx-auto w-50" />
      <!-- social media icons - in mobile view -->
      <div class="col-12 text-center d-block d-md-none">
        <p>Social Media</p>
        <ul class="list-inline">
          <li><a class="socialmedia-icon facebook" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square icon-size"></i></a></li>
          <li><a class="socialmedia-icon twitter" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter icon-size"></i></a></li>
          <li><a class="socialmedia-icon linkedin" target="_blank" href="https://www.linkedin.com"><i class="fa fa-linkedin icon-size"></i></a></li>
          <li><a class="socialmedia-icon youtube" target="_blank" href="https://www.pinterest.com"><i class="fa fa-youtube icon-size"></i></a></li>
        </ul>
      </div>
      <!-- /social media icons - in mobile view -->
      <hr class="d-block d-md-none py-2 mx-auto w-50" />
      <div class="col-12 col-md-4 text-center">
        <p class="font-weight-bold pb-2">Accepted payments</p>
        <ul class="list-inline text-center">
          <li><i class="fa fa-cc-stripe fa-3x"></i></li>
          <li><i class="fa fa-cc-visa fa-3x"></i></li>
          <li><i class="fa fa-cc-mastercard fa-3x"></i></li>
        </ul>
      </div>
      <hr class="d-block d-md-none py-2 mx-auto w-50" />
      <div class="col-12 col-md-4 list-inline text-center">
          <p class="font-weight-bold text-underline">Customer service</p>
          <h5>Mon-Sun 8.00-18.00</h5>
          <h5>Tel: 123 456</h5>
          <h5><a class="text-black h5" href="{% url 'contact' %}">Email: electronic.demands@hotmail.com</a></h5>
      </div>
    </div>
  </div>
  <hr class="d-block d-md-none py-2 mx-auto w-50" />
  <div class="row">
    <div class="col-12 text-black text-muted text-center pb-3">
      <div>
        <h5>Copyright © Electronic Demands 2020. All rights reserved.</h5>
      </div>
    </div>
  </div>
</footer>